.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
    margin: 0px;
    padding: 0px;

}

.header-right{
    display: flex;
    gap: 1rem;
    list-style: none;
}
